.status {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.status img {
  height: 300px;
}
.status .leftst {
  height: fit-content;
  color: aliceblue;
  background-color: black;
  border-radius: 10%;
  padding: 10px;
}
.status .rightst {
  height: fit-content;
  color: aliceblue;
  background-color: black;
  border-radius: 10%;
  padding: 10px;
}

.status .working {
  box-shadow: 3px 3px 8px rgba(144, 245, 137, 0.712);
}

.status .not-working {
  box-shadow: 3px 3px 8px rgba(240, 74, 74, 0.712);
}
