* {
  margin: 0;
  padding: 0;
}
.banner {
  display: flex;
  justify-content: space-between;
  padding: 2%;
  margin-bottom: 5%;
}
.banner h1 {
  color: aliceblue;
  /* height: fit-content;
  background-color: black;
  border-radius: 10%;
  padding: 10px;
  box-shadow: 3px 3px 8px rgba(138, 67, 67, 0.712); */
}
.menulist {
  background-color: black;
  color: aliceblue;
  display: grid;
  padding: 10px 30px;
  border-radius: 5%;
  grid-column: 1;
  box-shadow: 3px 3px 8px rgba(138, 67, 67, 0.712);
}
.menulist a {
  color: aliceblue;
  text-decoration: none;
}
.menulist a:hover {
  color: skyblue;
}
