* {
  font-family: 'Nunito Sans', sans-serif;
}

.login {
  column-count: 2;
}

.title-section {
  color: #fff;
}

.form-section {
  width: 50%;
}

.login input {
  background-color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 15px;
  font-size: 14px;
}
