.form-section {
  height: 80%;
  border: 0;
  padding-right: 2.5%;
}

.loginform {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  width: 100%;
}
.loginform input {
  flex: 0 0 90%;
  padding: 0.25rem 0.75rem;
  border-right: 1px solid brown;
  border-bottom: 1px solid brown;
  outline: none;
  font-size: 18px;
  background-color: black;
  color: aliceblue;
}
::placeholder {
  color: brown;
}
.inputbutton {
  height: 45px;
  border-radius: 10%;
  flex: 0 0 15%;
  background-color: brown;
  border: none;
  color: black;
}
